header{
    .header-logo{
        width: 100px ;
        margin: 0px;
        padding: 0px;
    }
    a{
        margin: 10px;
    
    }
    nav.navbar{
        background-color: $secondary_color;
    }
    .navbar-brand{
        font-size: 55px;
        margin: -60px;
        text-decoration: none;
        list-style-type:none;
    }
}